table, th, td {
    border: 1px solid black;

}

table {
    width: 500px;
    height: 500px;
}

.hit {
    background-image: url('./images/ship.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.miss {
    background-image: url('./images/x.png');
    background-position: center;
    background-size: cover;
}

.empty {
}

.ship {

}

.Jumbo {
    background-color: #114B85;
    padding-top: 50px;
    padding: 0px, 0px, 0px, 0px;
    margin-top: 0px;
}

h1, .instructions {
    color: black;
    float: center;

}

.Battleship {
    max-height: 300px;
    max-width: 300px;
    


}
body {
    background-color: #FDF4AF;
}
